<form class="row" [ngClass]="{ 'edit-mode': editionMode }">
  <div class="d-flex justify-content-between align-items-center w-100">
    <h4>Añadir a la lista:</h4>
    <div class="text-right">
      <button *ngIf="editionMode" (click)="cancelEdition()" class="btn btn-danger center cancel-edit-button">
        Cancelar edición
      </button>
    </div>
  </div>



  <div class="col-12">
    <input type="text"
           [(ngModel)]="item.name"
           name="name"
           class="form-control mb-2"
           placeholder="Nombre">
  </div>
  <div class="col-6">
    <input type="number"
           [(ngModel)]="item.amount"
           name="amount"
           class="form-control mb-2"
           placeholder="Cantidad">
  </div>
  <div class="col-6">
    <input type="text"
           [(ngModel)]="item.units"
           name="uds"
           class="form-control mb-2"
           placeholder="Unidades">
  </div>
  <div class="col-12">
    <button *ngIf="!editionMode" (click)="emitNewItem()"class="btn btn-primary" style="width:100%">
      Agregar item
    </button>
    <button *ngIf="editionMode" (click)="emitEdittedItem()" class="btn btn-primary" style="width:100%">
      Editar item
    </button>
  </div>
</form>



